.navbar {
    text-decoration: none;
    width: 100%;
    overflow: hidden
}
.navbar .navbar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
}

.button {
    height: 100%;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    color: #ffffff;
}

.button:hover {
    color: #FFFFFF;
    background: #4267B2;
}

.button.active {
    color: #FFFFFF;
    background: #74b16f;
}

.navbar-block .navbar-item {
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
}

.hide {
    display: none!important;
}

.show {
    display: block!important;
}

.right {
    float: right!important;
}
@media (max-width: 600px) {
    .hide-small {
        display:none!important;
    }
}
@media (min-width: 993px) {
    .hide-large {
        display: none!important;
    }
}
@media (max-width: 992px) and (min-width: 601px) {
    .hide-medium {
        display: none!important;
    }
}