* {
    font-family: "Lucida C", monospace;
}

.carousel-item {
    height: auto;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.list-style {
    padding: 0!important;
    margin: 0!important;
    color: #ffffff;
    list-style: none;
    text-shadow: 1px 1px #0e0e0e
}

.list-item {
    border-radius: 20px;
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
    padding-bottom: 4px;
    width: auto;
}

.card-border {
    padding-top: 10px;
    pointer-events:none;
    box-shadow: none;
}

.discord {
    color: #7289DA;
    padding-right: 8px;
}

.youtube {
    color: red;
    padding-right: 8px;
}

.twitter {
    color: #1DA1F2;
    padding-right: 8px;
}

.facebook {
    color: #4267B2;
    padding-right: 8px;
}

.ip-show {
    padding-top: 20px;
    background-color: #161616!important;
    -moz-box-shadow: 0 0 3px #141414!important;
    -webkit-box-shadow: 0 0 3px #141414!important;
    box-shadow: 0 0 3px #141414!important;
    border-radius: 0px!important;
    border-color: #141414!important;
    color: #e6e6e6!important;
}

.logo-size {
    width: 50px;
    padding-right: 10px;
}

.main-f-color {
    color: rgb(112, 215, 94);
    transition: 0.4s;
}

.main-f-color:hover {
    box-shadow: 0 0 7px 2px #7df110;
    transition: 0.4s; 
}

.textgray {
    color: gray;
}

hr {
    width: 98%;
    background-color: #141414;
}

.dark-background {
    background-color: #1d1d1d;
}

.black-background {
    background-color: #161616;
}

.card-style {
    padding: 15px 15px 15px 15px!important;
    border-width: 2px;
    border-style: solid;
    border-color: #141414;
}

.white {
    color: #e2e2e2;
}

.green {
    color: #7df110;
}

.light-gray {
    color: #b9b9b9;
}

.light-blue {
    color: #4d89d8;
}

main {
  background-color: #0f0f11;
  padding-bottom: 20px;
}

.center {
  text-align: center;
}

.featureboxes {
  transition: 0.15s;
  width: auto;
  height: auto;
  text-align: center;
}

.featureboxes:hover {
  transition: 0.15s;
  transform: scale(1.01);
  border-radius: 3px;
  text-align: center;
}

.playercount {
  display: inline-block;
}

.img-news {
  max-width: 600px;
  max-height: 350px;
}


.medias {
  color: gray;
  text-decoration: none;
  text-align: center;
}

.medias:hover 
{
   color: gray;
   text-decoration: none; 
   cursor: pointer;  
}
