* {
    margin: 0;
    font-family: "Lucida C", monospace;
}

html {
    background-color: #0f0f11;
}

header {
    top: 0px;
    left: 0px;
    right: 0px;
    margin-top: 0px;
}

main {
    position: relative;
    left: 0px;
    right: 0px;
    top: 70px;
}

footer {
    background-color: #1e2535;
    position: fixed;
    z-index: 1;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: left;
    padding: 2px 16px 2px 16px;
    -moz-box-shadow: 0 0 3px #232735;
    -webkit-box-shadow: 0 0 3px #232735;
    box-shadow: 0 0 3px #232735;
}

footer a {
    text-decoration: none;
    font-size: 14px;
    color: #f2f2f2;
}

footer a.right-footer {
    float: right;
}

footer a:hover {
    color: #7df110;
}

footer img {
    float: right;
    width: 18px;
    padding: 0 4px 0 0;
}

section.quality {
    font-size: 18px;
    color: #7df110;
    width: 100%;
    background-color: #161616;
    text-align: center;
    margin: auto;
    -moz-box-shadow: 0 0 3px #141414;
    -webkit-box-shadow: 0 0 3px #141414;
    box-shadow: 0 0 3px #141414;
}

article.jogadores {
    padding: 10px 10px 10px 10px;
}

table {
    padding: 20px 0 20px 0;
    table-layout: fixed;
    width: 100%;
}

table caption {
    padding-top: 20px;
    color: #f2f2f2;
    font-size: 40px;
    font-weight: bold;
}

tr {
    width: 30%;
}

th img {
    width: 192px;
}

th.text {
    color: #949494;
    font-size: 20px;
}

th.link {
    color: #7df110;
    font-size: 18px;
}
